
h1 span {
    text-align: center;
    font-family: "Verdana";
    font-weight: bold;
    transform-origin: bottom;
    height: 300px;
    width: 50px;
    left: 50;
    top: 50;
    position: absolute;
    color : red;
}
.c1{
    transform: rotate(-27deg);
}
.c2{
    transform: rotate(-21deg);
}
.c3{
    transform: rotate(-15deg);
}
.c4{
    transform: rotate(-9deg);
}
.c5{
    transform: rotate(-3deg);
}
.c6{
    transform: rotate(3deg);
}
.c7{
    transform: rotate(9deg);
}
.c8{
    transform: rotate(15deg);
}
.c9{
    transform: rotate(21deg);
}
.c10{
    transform: rotate(27deg);
}
h2 {
    text-align: center;
    font-family: "Verdana";
    font-weight: bold;
    font-style: italic;
    color:#F5D7D7;
}
h3{
    font-family: "Verdana";
    font-weight: 200;
}
h5{
    font-family: "Verdana";
    font-weight: 200;
}
table{
    border: 3px solid #020475;
    border-spacing: 5px;
}
tr{
    border: 2px solid #020475;
    border-spacing: 5px;
}
td{
    font-family: "Georgia";
    font-weight: 150;
    width: 7em;
    line-height: 1.5em;
    padding: 0.25em;
    border: 2px solid #020475;
    text-align: center;
}
th{
    font-family: "Georgia";
    font-weight: bold;
    width: 7em;
    line-height: 1.5em;
    padding: 0.25em;
    border: 4px solid #020475;
    text-align: center;
}
button{
    padding: 5px;
    border-radius: 5px;
    margin: 2px 0 2px 0;
    transition: all 0.3s ease;
    font-family: "Verdana";
    font-weight: bold;
    background-color: aliceblue;
}
button:hover{
    background-color: black;
    color:aliceblue;
}
li{
    font-family: "Garamond";
}

a {
    font-family: "Verdana";
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #020475;
}
a:hover{
    color:blue;
}
label {
    font-family: "Verdana";
    font-weight: bold;
    text-align: center;
  }
  input,
select {
    padding: 5px;
    border-radius: 5px;
    margin: 2px 0 2px 0;
    transition: all 0.3s ease;
    font-family: "Verdana";
    font-weight: bold;
    background-color: aliceblue;
}

input[type="submit"] {
  background-color: #4caf50;
  color: #1f1f20;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
}




.header{
    background-image: url("university-logo.png");
    background-repeat: no-repeat;
    background-size: 200px,200px;
    background-position: right 0% top 0px;
    background-color: #020475;
    border-style: double;
    border-width: 5px;
    font-family: "Verdana";
    font-weight: bold;
    font-style: italic;
}
.login_box{
    height: 180px;
    width: 330px;
    padding: 5px;
    border-radius: 5px;
    margin: 2px 0 2px 0;
    transition: all 0.3s ease;
    font-family: "Verdana";
    font-weight: bold;
    background-color: aliceblue;
    text-align: center;
}
input[type=submit]{
    padding: 5px;
    border-radius: 5px;
    margin: 2px 0 2px 0;
    transition: all 0.3s ease;
    font-family: "Verdana";
    font-weight: bold;
    background-color: aliceblue;
}
input[type=submit]:hover{
    background-color: black;
    color:aliceblue;
}
.warning{
    color:red;
    font-family: "Verdana";
    font-weight: bold;
    font-size:large;    
}
.norm_l{
    font-family: "Verdana";
    font-weight: bold;  
}
.norm_2{
    font-family: "Verdana";
}
.main_body{
    background-color: #F1DAC4;
}
input[type=type],input[type=email]{
    font-family: "Verdana";
}
select{
    font-family: "Verdana";
}
option{
    font-family: "Verdana";
}
label,li{
    font-family:"Verdana";
}
p{
    font-family:"Verdana";
}