<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/std_styl.css" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class = "main_body">
    <div class = "header">
        <center>
          <br/>
          <br/>
          <br/>
          <br/>
          <h1>Create Faculty</h1>
          <br/>
          <br/>
          <br/>
        </center>
      </div>
    <a href="javascript:history.back()" class="btn btn-outline-primary"><button>Go Back</button></a>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
    <ul class=flashes>

    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
  
    
    <form action = "/createfaculty" method = "POST">

	<h3 style="font-family: cursive"> Please Create A Faculty Account Below </h3>
	
	{% if x %}

	<h5 style="font-family: cursive"> User Exists, Please Create a new account</h5>
	
	{% endif %}
    <label>Email:</label>

	<input type = "email" name = "email" placeholder = "Enter Email" required><br> 
	
	<label>Password:</label>

	<input type = "text" name = "password" placeholder = "Enter Password" required><br> 
    
    <label>First Name :</label>

    <input type = "text" name = "firstname" placeholder = "Enter firstname" required><br> 
	
	<label> Last Name :</label>

	<input type = "text" name = "lastname" placeholder = "Enter Lastname" required><br> 

    <label> Home Address :</label>
    
    <input type = "text" name = "address" placeholder = "Enter Address" required><br> 
	
    <label> Social Security:</label>
    
    <input type = "number" name = "ssn" min = 100000000 max = 999999999 placeholder = "Enter Social Security Number" required><br> 

    <label>Select Faculty Type: </label>
    <p>
    <label for="Faculty Advisor"><input type="checkbox" name="type" value="advisor" id="Faculty Advisor" checked>Faculty Advisor</label>
    <label for="Graduate Secretary"> <input type="checkbox" name="type" value="grad_sec" id="Graduate Secretary" checked>Graduate Secretary</label>
    <label for="CAC"><input type="checkbox" name="type" value="cac" id="CAC" checked> CAC</label>
    <label for="Faculty Reviewer"><input type="checkbox" name="type" value="reviewer" id="Faculty Reviewer" checked>Faculty Reviewer</label>
    <label for="Registrar"><input type="checkbox" name="type" value="Registrar" id="registrar" checked>Registrar</label>
    </p>

	<p><button type= "submit"> Create </button></p>

	</form>

    

</body>
</html>