<!DOCTYPE html>
<html>
<head>
	<title>College Application Form - Success</title>
<link rel="stylesheet" href="../static/std_styl.css" /></head>
<title>Application Form</title>
</head>
<body>
  <body class = 'main_body'>
	<div class = "header">
	  <br/>
	  <br/>
	  <br/>
	  <br/>
	  <br/>
	  <br/>
	  <br/>
	  <br/>
	  <br/>
	  <br/>
	  <br/>
	  <br/>
	</div>
	<h1>Thank you, {{session['firstname'] }} {{ session['lastname']  }}!</h1>
	<p>Your submission has been inputed into our system</p>
	<button><a href= "/applicantDashboard/<ID>"> homepage </a></button>
	<button><a href= "/"> logout </a></button>
</body>

</html>