<!-- !--------------------DOCUMENT DESCRIPTION------------------ 
-This HTML shows the table of all the students assigned to said advisor
-Holds the students info, transcript, and form 1
-Visible by: Admin, GS, Advisor
--------------------DOCUMENT DESCRIPTION-------------------->  

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/std_styl.css" />
        <title>Students</title>
    </head>

    <body class = "main_body">
        <div class = "header">
            <br/>
            <br/>
            <br/>
            <br/>
            <h2> {% if faculty_type.advisor%} Advisees {% else%}All Students{%endif%}</h2>
            <br/>
            <br/>
            <br/>
            <br/>
        </div>
        <a href = '/faculty'><button>Home</button></a>
        <table id = 'myTable'>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>ID</th>
                    <th>Email</th>
                    <th>View Transcripts</th>
                    <th>View Form 1</th>
                    <th>View Advising Form </th>
                    <th>PhD Thesis</th>
                    {% if faculty_type.advisor%}
                    <th>Thesis</th>
                    {%endif%}
                    
                </tr>
            </thead>
            <tbody>
                {% for s in x %}
                <tr>
                    <td>{{s.firstname}} {{s.lastname}}</td>
                    <td>{{s.uid}}</td>
                    <td>{{s.email}}</td>
                    <td><a href="/transcript/{{s.uid}}">View Transcript</a></td>
                    <td><a href="/viewform1/{{s.uid}}">View Form 1</a></td>
                    <td><a href="/fac_ad_form/{{s.uid}}">View Advising Form</a></td>
                    {% for a in y %}
                        {% if [a.uid] == [s.uid] %}
                        <td><a href= "/approvethesis/{{s.uid}}"> View Thesis</a></td>
                        {% else %}
                        <td>N/A</td>
                        {% endif %}
                    {% endfor %}
                    {% if faculty_type.advisor%}
                        {% for a in y %}
                            {% if [a.uid] == [s.uid] %}
                            <td><a href= "/approvethesis/{{s.uid}}"> Approve Thesis</a></td>
                            {% endif %}
                        {% endfor %}
                    {%endif%}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {%if user_type == 'Systems Administrator' %}
         <button onclick="downloadTable()">Download This Student Table</button>
        {%endif%}
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.2/html2canvas.min.js"></script>
        <script>
          function downloadTable() {
            var table = document.getElementById("myTable");
      
            // Use HTML2Canvas to capture the table as an image
            html2canvas(table).then(function(canvas) {
              // Convert the canvas to a PNG image
              var imgData = canvas.toDataURL('image/png');
      
              // Create a download link for the PNG file
              var link = document.createElement('a');
              link.href = imgData;
              link.download = 'table.png';
      
              // Add the link to the document and click it to download the file
              document.body.appendChild(link);
              link.click();
              document.body.removeChild(link);
            });
          }
        </script>
        
    </body>
</html>