<!--------------------DOCUMENT DESCRIPTION------------------ 
-This HTML shows the form to submit form 1
-Visible by: Admin, GS, Student
--------------------DOCUMENT DESCRIPTION--------------------> 
<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="../static/std_styl.css" />
    <title>Form 1</title>
  </head>

  <body class = "main_body">
    <div class = "header">
      <br/>
      <br/>
      <br/>
      <h2>Form 1</h2>
      <br/>
      <br/>
      <br/>
    </div>
    <form action="/submitForm1/{{id}}" method="post">
        <table>
          <thead>
            <tr>
              <th>Univ ID</th>
              <th>Last Name</th>
              <th>First Name</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <tbody>
                {% for s in student %}
                <tr>
                  <td><input type="text" name="user_id" value="{{s.uid}}" readonly></td>
                  <td><input type="text" name="lname" value="{{s.lastname}}" readonly></td>
                  <td><input type="text" name="fname" value="{{s.firstname}}" readonly></td>
                </tr>
              {% endfor %}
              </tbody>
              
            </tr>
          </tbody>
        </table>
        <br>
        <table>
          <thead>
            <tr>
              <th>Courses In Program:</th>
              <th>DEPT/SUBJECT</th>
              <th>Course Number</th>
            </tr>
          </thead>
          <tbody id="course-table-body">
          </tbody>
        </table>
        <button type="button" onclick="addCourse()">Add Course</button>
        <br>
        <button type="submit">Submit</button>
      </form>
      
      <script>
      // let rowCount = 1;
      function addCourse() {
  var tableBody = document.getElementById("course-table-body");
  var rowCount = tableBody.rows.length;

  if (rowCount >= 13) {
    document.getElementById("add-course-btn").disabled = true;
    return;
  }

  var newRow = tableBody.insertRow(rowCount);
  newRow.innerHTML = '<td><button type="button" onclick="removeCourse(this)">Remove</button></td>' +
                     '<td>' +
                     '<select name="dept_subject_' + rowCount + '">' +
                     '{% for departments in courses_dept %}' +
                     '<option value="{{ departments.dept }}">{{ departments.dept }}</option>' +
                     '{% endfor %}' +
                     '</select>' +
                     '</td>' +
                     '<td>' +
                     '<select name="course_number_' + rowCount + '">' +
                     '{% for num in courses_number %}' +
                     '<option value="{{ num.cnum }}">{{ num.cnum }}</option>' +
                     '{% endfor %}' +
                     '</select>' +
                     '</td>';
}

function removeCourse(button) {
  var row = button.parentNode.parentNode;
  row.parentNode.removeChild(row);
}

      </script>
      <a href = '/student/{{id}}'><button>Go back to directory</button></a>
  </body>
</html>
