<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/std_styl.css" />
    </head>
    <body class = "main_body" background-color: #F1DAC4>
        <center>
        <br/>
        <h1>
        <br/>
        <h3 font-family: "Verdana">{{err_msg}}</h3>
        <br/>
        <form method = "GET" action = "/c_catalogue/{{id}}">
            <button font-family: "Verdana">
                Catalogue
            </button>   
        </h1>
        </form> 
    </center>
    </body>
</html>